* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* centra horizontal */
  align-items: center;       /* centra vertical */
  background: radial-gradient(circle, #ba2929, #000);
  color: white;
}

.menu-container {
  text-align: center;
}

/* CONTENEDOR DE BOTONES */
.menu-buttons {
  display: flex;
  justify-content: center;   /* CLAVE */
  align-items: center;
  gap: 20px;
  width: 100%;               /* evita quedarse a la izquierda */
  margin-top: 25px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #1e88e5;
  color: white;
}

button:hover {
  background: #1565c0;
}


@media (max-width: 500px) {
  .menu-buttons {
    flex-direction: column;
    text-align: center;
  }
}
